language: bash
crystal: latest
env:
  global:
    - CLOUDSDK_CONTAINER_USE_CLIENT_CERTIFICATE=True
    - PSYKUBE_RELEASES_URL=https://api.github.com/repos/commercialtribe/psykube/releases/latest
services:
  - docker
before_deploy:
  # Docker Auth
  - docker login --username="$DOCKER_USERNAME" --password="$DOCKER_PASSWORD"

  # Install Psykube
  - export PSYKUBE_DOWNLOAD_URL=`curl -sSL $PSYKUBE_RELEASES_URL | jq -r '.assets[] | select(.name | contains("linux")).browser_download_url'`
  - curl -sSL $PSYKUBE_DOWNLOAD_URL | sudo tar -xzC /usr/local/bin

  # Install Kubectl
  - curl -LO https://storage.googleapis.com/kubernetes-release/release/$(curl -s https://storage.googleapis.com/kubernetes-release/release/stable.txt)/bin/linux/amd64/kubectl
  - chmod +x ./kubectl
  - sudo mv ./kubectl /usr/local/bin/kubectl

  # Authenticate with Google Cloud
  - echo $GCLOUD_ENCODED_CREDS | base64 -d > /tmp/gcloud.json
  - gcloud auth activate-service-account --key-file=/tmp/gcloud.json

  # Setup credentials for Google Cloud staging and production
  - gcloud container clusters get-credentials waldrip-net --zone=us-central1-a --project=waldrip-net
deploy:
  provider: script
  script: psykube apply default
